{% extends "base.html" %}
{% block content %}
<h2>Register</h2>
<form method="POST">
  <label>Name</label>
  <input name="name" required>
  <label>Email</label>
  <input type="email" name="email" required>
  <label>Password</label>
  <input type="password" name="password" required>
  <label>Role</label>
  <select name="role" required>
    <option value="user">User</option>
    <option value="owner">Admin</option>
  </select>
  <button type="submit">Create account</button>
</form>

<h3>EXISTING USER? <a href="/login">Login Now</a></h3>
{% endblock %}